html,
body {
  --shadow-color: 220 40% 2%;
  --shadow-strength: 10%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
  border-width: 0;
  border-style: solid;
}

button {
  -webkit-appearance: none;
  -moz-appearance:  none;
  appearance: none;
}